n8n-ollama-workflow.json
{
  "name": "Ollama AI Chat Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-chat",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "ai-chat-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Extract the message from the incoming request\nconst userMessage = $input.item.json.body.message || $input.item.json.message || '';\n\n// Format the prompt for Ollama\nreturn {\n  json: {\n    prompt: userMessage,\n    model: 'llama3',\n    stream: false\n  }\n};"
      },
      "id": "b2c3d4e5-f6g7-8901-bcde-f12345678901",
      "name": "Format Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:11434/api/generate",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $json.model }}\",\n  \"prompt\": \"{{ $json.prompt }}\",\n  \"stream\": {{ $json.stream }}\n}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "c3d4e5f6-g7h8-9012-cdef-123456789012",
      "name": "Ollama Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract the response from Ollama\nconst ollamaResponse = $input.item.json.response || 'No response from AI';\n\n// Format the response for the frontend\nreturn {\n  json: {\n    success: true,\n    response: ollamaResponse,\n    model: 'llama3',\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "d4e5f6g7-h8i9-0123-defg-234567890123",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "e5f6g7h8-i9j0-1234-efgh-345678901234",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Format Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Prompt": {
      "main": [
        [
          {
            "node": "Ollama Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Request": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-22T00:00:00.000Z",
  "versionId": "1"
}